# Nba Regular Season 2018-19 Data Challenge

Your task will be to take the dataset given, and create an analysis answering the following 10 questions. This project will again test your knowledge of pandas in order to find the answers needed given the data you are presented with.

# What was the average age of player in the league?

In [24]:
import pandas as pd
import numpy as np

nba_stats = pd.read_csv('../downloads/nbastats2018-2019 - nbastats2018-2019.csv', sep = ',')

average_age = nba_stats['Age'].mean()
average_age

25.900191938579656

# What player scored the most points?

In [16]:
sorted_points = nba_stats.sort_values('Points', ascending=False)
sorted_points.head()

,Name,Height,Weight,Team,Age,Salary,Points,Blocks,Steals,Assists,...,MP,G,PER,OWS,DWS,WS,WS48,USG,BPM,VORP
202,James Harden,77,220,Houston Rockets,29,30431854,36.1,0.7,2.0,7.5,...,36.8,78,30.6,11.4,3.8,15.2,0.254,40.5,11.7,9.9
179,Paul George,81,220,Oklahoma City Thunder,28,30560700,28.0,0.4,2.2,4.1,...,36.9,77,23.3,7.0,4.9,11.9,0.201,29.5,5.5,5.3
15,Giannis Antetokounmpo,83,242,Milwaukee Bucks,24,24157304,27.7,1.5,1.3,5.9,...,32.8,72,30.9,8.9,5.5,14.4,0.292,32.3,10.8,7.6
151,Joel Embiid,84,250,Philadelphia 76ers,24,25467250,27.5,1.9,0.7,3.7,...,33.7,64,26.1,4.9,3.8,8.7,0.194,33.3,4.1,3.3
253,LeBron James,80,250,Los Angeles Lakers,34,35654150,27.4,0.6,1.3,8.3,...,35.2,55,25.6,4.7,2.6,7.2,0.179,31.6,8.1,4.9

# What player had the most blocks during the season? Was it a post player (F/C)?

In [65]:
sorted_blocks = nba_stats.sort_values('Blocks', ascending=False)
sorted_blocks.head()
#There are no postitions in the file

,Name,Height,Weight,Team,Age,Salary,Points,Blocks,Steals,Assists,...,G,PER,OWS,DWS,WS,WS48,USG,BPM,VORP,total_minutes_played
476,Myles Turner,83,250,Indiana Pacers,22,3410284,13.3,2.7,0.8,1.6,...,74,18.0,1.9,4.4,6.3,0.144,20.0,3.3,2.8,2116.4
123,Anthony Davis,82,253,New Orleans Pelicans,25,25434263,25.9,2.4,1.6,3.9,...,56,30.3,6.4,3.1,9.5,0.247,29.5,8.5,4.9,1848.0
419,Mitchell Robinson,85,240,New York Knicks,20,1485440,7.3,2.4,0.8,0.6,...,66,22.0,4.0,2.2,6.1,0.217,12.1,5.7,2.7,1359.6
183,Rudy Gobert,85,245,Utah Jazz,26,23241573,15.9,2.3,0.8,2.0,...,81,24.6,8.7,5.7,14.4,0.268,17.8,7.0,5.9,2575.8
303,Brook Lopez,84,270,Milwaukee Bucks,30,3382000,12.5,2.2,0.6,1.2,...,81,14.6,2.3,4.3,6.7,0.138,16.7,2.7,2.8,2324.7

# Based on the regular season, who had the best chance to win a title given their win percentage?

In [ ]:
# There is no win percentage column

# What player had the best 3-pt percentage?

In [25]:
sorted_threes = nba_stats.sort_values('FG3%', ascending=False)
sorted_threes.head()

,Name,Height,Weight,Team,Age,Salary,Points,Blocks,Steals,Assists,...,MP,G,PER,OWS,DWS,WS,WS48,USG,BPM,VORP
312,Scott Machado,73,205,Los Angeles Lakers,28,47371,2.5,0.0,0.3,0.8,...,4.8,4,22.2,0.1,0.0,0.1,0.281,14.0,-4.4,0.0
439,Jordan Sibert,76,187,Atlanta Hawks,26,47371,3.0,0.0,0.0,0.0,...,4.0,1,29.7,0.0,0.0,0.0,0.183,10.2,6.3,0.0
147,Trevon Duval,74,189,NaN,20,-,1.7,0.0,0.0,0.7,...,2.0,3,38.3,0.1,0.0,0.1,0.537,20.9,9.7,0.0
352,Eric Moreland,82,238,Phoenix Suns,27,239035,1.4,0.2,0.2,0.8,...,8.6,5,6.7,-0.1,0.1,0.0,0.032,12.0,-4.8,0.0
95,Troy Caupain,76,210,NaN,23,-,2.5,0.0,0.3,1.0,...,4.0,4,30.7,0.1,0.0,0.1,0.347,21.8,8.9,0.0

# Who played the most minutes during the season

In [ ]:
sorted_threes = nba_stats.sort_values('FG3%', ascending=False)
sorted_threes.head()

# What player given their player effiecency rating was the clutchest during the season?

In [35]:
nba_stats['total_minutes_played'] = nba_stats['MP'] * nba_stats['G']
nba_minutes_played = nba_stats.sort_values('total_minutes_played', ascending=False)
nba_minutes_played.head()

,Name,Height,Weight,Team,Age,Salary,Points,Blocks,Steals,Assists,...,G,PER,OWS,DWS,WS,WS48,USG,BPM,VORP,total_minutes_played
37,Bradley Beal,77,207,Washington Wizards,25,25434263,25.6,0.7,1.5,5.5,...,82,20.8,5.9,1.7,7.6,0.120,28.4,2.8,3.7,3025.8
202,James Harden,77,220,Houston Rockets,29,30431854,36.1,0.7,2.0,7.5,...,78,30.6,11.4,3.8,15.2,0.254,40.5,11.7,9.9,2870.4
486,Kemba Walker,73,184,Charlotte Hornets,28,12000000,25.6,0.4,1.2,5.9,...,82,21.7,5.5,1.9,7.4,0.123,31.5,3.3,3.9,2861.8
208,Tobias Harris,81,235,Philadelphia 76ers,26,14800000,20.0,0.5,0.6,2.8,...,82,17.2,4.5,2.6,7.1,0.120,22.8,0.5,1.8,2845.4
179,Paul George,81,220,Oklahoma City Thunder,28,30560700,28.0,0.4,2.2,4.1,...,77,23.3,7.0,4.9,11.9,0.201,29.5,5.5,5.3,2841.3

# What team had the youngest roster?

In [41]:
nba_youngest_team = nba_stats.groupby('Team')['Age'].mean().reset_index()
nba_youngest_team_sorted = nba_youngest_team.sort_values('Age', ascending=True)
nba_youngest_team_sorted.head()

                Team        Age
4      Chicago Bulls  24.312500
25  Sacramento Kings  24.400000
21     Orlando Magic  24.533333
19   New York Knicks  24.625000
23      Phoenix Suns  24.761905

# Who is the highest paid player during the seasion?

In [61]:
nba_highest_paid = nba_stats.sort_values('Salary', ascending=False)
nba_highest_paid.head()

,Name,Height,Weight,Team,Age,Salary,Points,Blocks,Steals,Assists,...,G,PER,OWS,DWS,WS,WS48,USG,BPM,VORP,total_minutes_played
255,John Jenkins,76,215,Washington Wizards,27,99290,4.7,0.1,0.0,0.8,...,26,9.7,0.2,0.0,0.2,0.031,15.7,-5.2,-0.3,332.8
188,Devonte' Graham,74,185,Charlotte Hornets,23,988464,4.7,0.0,0.5,2.6,...,46,10.3,0.2,0.3,0.5,0.035,17.0,-4.3,-0.4,676.2
402,Dwight Powell,83,240,Dallas Mavericks,27,9631250,10.6,0.6,0.6,1.5,...,77,20.4,5.6,1.9,7.5,0.215,17.2,4.0,2.5,1663.2
129,Matthew Dellavedova,76,200,Cleveland Cavaliers,28,9607500,5.9,0.0,0.3,3.8,...,48,11.1,0.5,0.0,0.5,0.028,17.9,-5.5,-0.7,811.2
157,Dante Exum,78,190,Utah Jazz,23,9600000,6.9,0.1,0.3,2.6,...,42,11.2,0.2,0.7,1.0,0.069,21.3,-4.0,-0.3,663.6

# At the end of a game, who WOULDN'T you want on the Free Throw Line?

In [62]:
nba_bad_at_fts = nba_stats.sort_values('FT%')
nba_bad_at_fts.head()

,Name,Height,Weight,Team,Age,Salary,Points,Blocks,Steals,Assists,...,G,PER,OWS,DWS,WS,WS48,USG,BPM,VORP,total_minutes_played
268,Terrence Jones,81,252,Houston Rockets,27,198580,1.0,0.0,0.0,0.0,...,2,-15.8,-0.1,0.0,-0.1,-0.661,47.2,-52.3,-0.1,5.0
221,Haywood Highsmith,79,220,NaN,22,-,1.8,0.0,0.2,0.4,...,5,4.5,0.0,0.0,0.0,-0.023,12.4,-7.3,-0.1,40.0
356,Donatas Motiejunas,84,222,San Antonio Spurs,28,59820,2.0,0.3,0.0,0.3,...,3,-0.5,-0.1,0.0,-0.1,-0.246,33.5,-11.5,0.0,12.9
502,C.J. Williams,77,226,NaN,28,-,2.6,0.0,0.4,0.8,...,15,8.8,0.1,0.1,0.1,0.042,13.3,-4.0,-0.1,127.5
154,Jacob Evans,78,210,Golden State Warriors,21,1644240,1.3,0.1,0.2,0.8,...,30,3.5,-0.3,0.2,-0.1,-0.030,13.5,-6.9,-0.3,204.0